@media (min-width: 1000px) {
    .inicio h1{
        max-width: 80%;
        font-size: 40px;
    }
    .inicio button{
        width: 35%;
    }
    .tematica label:hover{
        font-size: 32px; 
    }
    .boton-teclado-div button{
        display: none;
    }
}