*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen', cursive;

}
html,body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
button{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    min-width: 50%;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    transition: all 1s;
    background-color: rgb(192, 189, 189) ;
    
}
button:hover{
    font-size: 20px;
    font-weight: 700;
    border: 4px solid black;
    background-color: gray;
    color: white;
}
.mensaje-temporal{
    text-align: center;
    width: 80%;
    font-size: 20px;
    color: white;
}
.contenido-juego{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.juego{
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.inicio{
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
.inicio img{
    max-width: 80%;
    max-height: 50%;
}
.inicio h1{ 
    max-width: 100%;
    text-align: center;
    padding: 6px;
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.inicio button{
    width: 80%;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    color:black;
    
}
.inicio button:hover{
    font-size: 23px;
    color: white;
}
.tematica{
    text-align: center;
}
.tematica form{
    height: 100%;
    display:  flex;
    flex-direction: column;
    align-items:  center;
    justify-content: space-evenly;
    font-size: 20px;
    color: white;
}
.tematica legend{
    font-size: 25px;
}
.tematica label{
    width: 30%;
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tematica label:hover{
    font-size: 27px; 
}
input[type=radio] {
    border: 0px;
    width: 10%;
    height: 18px;
    margin-right: 15px;
} 

.tematica button{
    min-width: 50%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 10px;
    transition: all 1s;
}
.tematica button:hover{
    font-size: 20px;
    font-weight: 700;
    border: 4px solid black;
}
.nueva-lista form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nueva-lista input {
    border-radius: 10px;
    width: 80%;
    height: 10%;
    padding: 5px 10px;
    font-size: 18px;
}
.nueva-lista textarea{
    border-radius: 10px;
    width: 80%;
    height: 25%;
    display: flex;
    padding: 5px 10px;
    font-size: 20px;
}
.opciones p{
    font-size: 20px;
    font-weight: 700;
    color: white;
    
}
.opciones form{
    height: 100%;
    display:  flex;
    flex-direction: column;
    align-items:  center;
    justify-content: space-evenly;
}
.opciones fieldset{
    width: 80%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    
}

.partida{
    align-items: center;
    justify-content: space-between;
}
.partida-botones{
    width: 80%;
    padding-top: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenido-partida{
    height: 100%;
    width: 100%;
}
.letras-correctas{
    height: 18%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.nueva-palabra{
    display: flex;
    gap : 10px;
}
.letra{
    padding-top: 32px;
    width: 20px;
    text-align: center;
    border-bottom: 4px solid black;
    font-size: 28px;
    color: white;
  }
.espacio{
    font-size: 30px;
    width: 20px;
    text-align: center;
  }
.letras-usadas-container{
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.letra-usada{
    width: 20px;
    text-align: center;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.ahorcado-container{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.partida-botones{
    width: 100%;
}
.partida-botones button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30%;
    font-size: 16px;
    padding: 10px 5px
}
.ahorcado-canvas{
    height: 50%;
    width: 80%;
    background-color: white;
    position: absolute;
    border-radius: 10px;
}
.mensaje-resultado{
    height: 50%;
    width: auto;
    position: relative;
    background:rgba(10, 10, 10, 0.6);
    border-radius: 10px;
    display: flex;
    text-align: center;
  
    color: white;

    flex-direction: column;
    justify-content: space-around;
    
}

.ahorcado-canvas{
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.mensaje-final {
    font-size: 18px;
}
.nueva-partida {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}
.nueva-partida button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    min-width:25%;
    max-height: 60%;

}

footer{
    max-height: 7%;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    color: black;
}
.footer-texto{ 
    font-weight: 900;
    font-size: 12px;
    max-width: 40%;
}
.container-link{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.link{
    
    color: black;
    font-weight: 900;
    text-decoration: none;
    font-size: 12px;  
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link:hover{
    color: var(--azul);
    font-size: 13px; 
}
.hiden{
    display: none;
}



